@page
@model PetShop_Project_SWP391.Pages.Customers.CustomerInfomationModel
@{
}
<head>
    <title>Freshcery | Groceries Organic Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<style>
    /* CSS cho form */
    #content-right form {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        #content-right form input[type="text"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 200px;
        }

        #content-right form button[type="submit"] {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            #content-right form button[type="submit"]:hover {
                background-color: #45a049;
            }

    /* CSS cho table */
    #orders {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        #orders th,
        #orders td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        #orders th {
            background-color: #f2f2f2;
        }

        /* CSS cho link Details */
        #orders a {
            color: #337ab7;
            text-decoration: none;
        }

            #orders a:hover {
                text-decoration: underline;
            }
</style>

<div id="content-right">
    <div id="page-content" class="page-content">
        <div class="banner">
            <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('https://kienthucbonphuong.com/images/202006/pet-la-gi/pet-la-gi.jpg');">
                <div class="container">
                    <h1 class="pt-5">
                        Sản phẩm của bạn 
                    </h1>
                    <p class="lead">
                        Những sản phẩm bạn đã đặt của chúng tôi
                    </p>
                </div>
            </div>
        </div>

    <div class="content-main">
        <div id="profile-content-order">
                <section id="cart">
                    <div class="container">
                        <form method="get">
                            <input asp-for="@ViewData["txtSearch"]" type="text" name="txtSearch" placeholder="Nhập tên sản phẩm" />
                            <input type="submit" value="Search" />
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="5%">No.</th>
                                                <th>Trạng thái</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Số lượng sản phẩm</th>
                                                <th>Giá sản phẩm sản phẩm</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.DisplayedOrderDetails.Count; i++)
                                            {
                                                var order = Model.DisplayedOrderDetails[i];
                                                <tr>
                                                    <td>@((Model.PageNumber - 1) * Model.PageSize + i + 1)</td>
                                                    <td>
                                                        @if (order.Key.OrderStatus == "Delivered")
                                                        {
                                                            <span style="color: green;">Đã nhận hàng</span>
                                                        }
                                                        else if (order.Key.OrderStatus == "Cancel")
                                                        {
                                                            <span style="color: red;">Đơn hàng bị huỷ</span>
                                                        }
                                                        else if (order.Key.OrderStatus == "Shipped")
                                                        {
                                                            <span style="color: yellow;">Giao hàng</span>
                                                        }
                                                        else if (order.Key.OrderStatus == "Future")
                                                        {
                                                            <span style="color: gray;">Đang trong quá trình chuẩn bị hàng</span>
                                                        }
                                                        else if (order.Key.OrderStatus == "Complete")
                                                        {
                                                            <span style="color: gray;">Đơn hàng đã chuẩn bị xong</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var orderDetail in order.Value)
                                                        {
                                                            <div>@orderDetail.Product.ProductName</div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var orderDetail in order.Value)
                                                        {
                                                            <div>@orderDetail.Quantity</div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var orderDetail in order.Value)
                                                        {
                                                            <div>@orderDetail.UnitPrice VNĐ</div>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="~/Customers/CustomersOrderDetails?OrderId=@order.Key.OrderId">Details</a>
                                                     @*   <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#detailModal" data-orderid="@order.Key.OrderId">
                                                            Detail
                                                        </button>
*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            @*<div id="paging">
                <div class="pagination">*@
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <a class="page-link" href="~/Customers/CustomerInfomation?PageNum=1&txtSearch=@ViewData["txtSearch"]">
                        <li class="page-item">Previous</li></a>
                    @if ((int)(ViewData["CurPage"]) > 1)
                    {
                            <a class="page-link" href="~/Customers/CustomerInfomation?PageNum=@((int)ViewData["CurPage"]-1)&txtSearch=@ViewData["txtSearch"]">&laquo;</a>
                    }
                    <span>    </span>
                    @for (var i = 1; i <= (int)(@ViewData["TotalPage"]); i++)
                    {
                        if ((i - (int)@ViewData["CurPage"]) <= 2 && (i - (int)@ViewData["CurPage"]) >= -2)
                        {
                            <a class="page-link" href="~/Customers/CustomerInfomation?PageNum=@i&txtSearch=@ViewData["txtSearch"]" class=@((int)(ViewData["CurPage"])==@i ? "active" : "")>@i</a>
                        }
                    }
                    <span>    </span>
                    @if ((int)ViewData["CurPage"] < (int)ViewData["TotalPage"])
                    {
                            <a class="page-link" href="~/Customers/CustomerInfomation?PageNum=@((int)ViewData["CurPage"]+1)&txtSearch=@ViewData["txtSearch"]">&raquo;</a>
                    }
                        <a class="page-link" href="~/Customers/CustomerInfomation?PageNum=@ViewData["TotalPage"]&txtSearch=@ViewData["txtSearch"]">
                     <li class="page-item">Last</li>    
                    </a>
                    </ul>
                </nav>
                    @*   </div>
            </div>*@
    </div>
</div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">No. Pesanan : AL121N8H2XQB47</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>Billing Detail:</strong><br>
                            Teguh Rianto<br>
                            Jl. Petani No. 159, Cibabat<br>
                            Cimahi Utara<br>
                            Kota Cimahi<br>
                            Jawa Barat 40513
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>Payment Method:</strong><br>
                            Direct Transfer to<br>
                            Bank: BCA<br>
                            No Rek.: 72133236179
                        </p>
                        <p>
                            <strong>Batas Pembayaran</strong><br>
                            14-12-2017 17:55 GMT+7
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <strong>Your Order:</strong>
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th class="text-right">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Ikan Segar x1
                                        </td>
                                        <td class="text-right">
                                            Rp 30.000
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sirloin x1
                                        </td>
                                        <td class="text-right">
                                            Rp 120.000
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Mix Vegetables x1
                                        </td>
                                        <td class="text-right">
                                            Rp 30.000
                                        </td>
                                    </tr>
                                </tbody>
                                <tfooter>
                                    <tr>
                                        <td>
                                            <strong>Cart Subtotal</strong>
                                        </td>
                                        <td class="text-right">
                                            Rp 180.000
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Shipping</strong>
                                        </td>
                                        <td class="text-right">
                                            Rp 20.000
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>ORDER TOTAL</strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>Rp 200.000</strong>
                                        </td>
                                    </tr>
                                </tfooter>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*<!DOCTYPE html>
<html>
<body>
        <section id="cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th>Invoice</th>
                                        <th>Date</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            AL121N8H2XQB47
                                        </td>
                                        <td>
                                            12-12-2017
                                        </td>
                                        <td>
                                            Rp 200.000
                                        </td>
                                        <td>
                                            Delivered
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#detailModal">
                                                Detail
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">No. Pesanan : AL121N8H2XQB47</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <strong>Billing Detail:</strong><br>
                                    Teguh Rianto<br>
                                    Jl. Petani No. 159, Cibabat<br>
                                    Cimahi Utara<br>
                                    Kota Cimahi<br>
                                    Jawa Barat 40513
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <strong>Payment Method:</strong><br>
                                    Direct Transfer to<br>
                                    Bank: BCA<br>
                                    No Rek.: 72133236179
                                </p>
                                <p>
                                    <strong>Batas Pembayaran</strong><br>
                                    14-12-2017 17:55 GMT+7
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>Your Order:</strong>
                                </p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Products</th>
                                                <th class="text-right">Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Ikan Segar x1
                                                </td>
                                                <td class="text-right">
                                                    Rp 30.000
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Sirloin x1
                                                </td>
                                                <td class="text-right">
                                                    Rp 120.000
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mix Vegetables x1
                                                </td>
                                                <td class="text-right">
                                                    Rp 30.000
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td>
                                                    <strong>Cart Subtotal</strong>
                                                </td>
                                                <td class="text-right">
                                                    Rp 180.000
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Shipping</strong>
                                                </td>
                                                <td class="text-right">
                                                    Rp 20.000
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>ORDER TOTAL</strong>
                                                </td>
                                                <td class="text-right">
                                                    <strong>Rp 200.000</strong>
                                                </td>
                                            </tr>
                                        </tfooter>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/jquery-migrate.js"></script>
    <script type="text/javascript" src="assets/packages/bootstrap/libraries/popper.js"></script>
    <script type="text/javascript" src="assets/packages/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="assets/packages/o2system-ui/o2system-ui.js"></script>
    <script type="text/javascript" src="assets/packages/owl-carousel/owl-carousel.js"></script>
    <script type="text/javascript" src="assets/packages/cloudzoom/cloudzoom.js"></script>
    <script type="text/javascript" src="assets/packages/thumbelina/thumbelina.js"></script>
    <script type="text/javascript" src="assets/packages/bootstrap-touchspin/bootstrap-touchspin.js"></script>
    <script type="text/javascript" src="assets/js/theme.js"></script>
*@
