@page
@model PetShop_Project_SWP391.Pages.Manager.Products.DetailModel
@section manager_product_detail{
@{
    ViewData["Title"] = "Detail";
}
<link href="~/css/managerproductdetail.css" rel="stylesheet" />
<div class="manager-product-detail">
    <h1 style="text-align:center">Chi Tiết Sản Phẩm</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Hình Ảnh Sản Phẩm
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model=>model.Product.Pictures)
            </dd>
            <dt class="col-sm-4">
                Tên Sản Phẩm
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model=>model.Product.ProductName)
            </dd>
            <dt class="col-sm-4">
                Số Lượng
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model=>model.Product.QuantityPerUnit)
            </dd>
            <dt class="col-sm-4">
                Giá Tiền
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model=>model.Product.UnitPrice)
            </dd>
            <dt class="col-sm-4">
                Ngừng Bán
            </dt>
            <dd class="col-sm-8">
                @if (Model.Product.Discontinued == true)
                {
                    <span style="color: red;">Ngừng Sản Xuất</span>
                }
                else if (Model.Product.Discontinued == false)
                {
                    <span style="color: green;">Còn sản xuất</span>
                }
            </dd>
            <dt class="col-sm-4">
                Mô Tả
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model=>model.Product.Description)
            </dd>
            <dt class="col-sm-4">
                Trạng Thái
            </dt>
            <dd class="col-sm-8">
                @if (Model.Product.Status == false)
                {
                    <span style="color: red;">Hết hàng</span>
                }
                else if (Model.Product.Status == true)
                {
                    <span style="color: green;">Còn hàng</span>
                }
            </dd>
            <dt class="col-sm-4">
                Ngày Tạo
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model=>model.Product.CreateDate)
            </dd>
            <dt class="col-sm-4">
                Ngày Cập Nhật
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model=>model.Product.UpdateDate)
            </dd>
        </dl>
    </div>
    <div style="text-align:center">
        <a asp-page="./Update" asp-route-id="@Model.Product?.ProductId">Cập Nhật</a> |
        <a asp-page="./Index">Quay Trở Lại</a>
    </div>
</div>
}