@page
@model PetShop_Project_SWP391.Pages.Account.ForgotPasswordModel
@{
}
<link href="~/css/forgotpassword.css" rel="stylesheet" />
<div id="form">
    <h3 style="padding: 20px;">Quên mật khẩu tài khoản của bạn?</h3>
    <div style="padding: 0px 20px 10px;">
        Vui lòng nhập địa chỉ email đã đăng ký với chúng tôi để tạo mật khẩu mới.
        Chúng tôi sẽ gửi email đến địa chỉ email được cung cấp và yêu cầu xác minh trước khi chúng tôi có thể tạo mật khẩu mới
    </div>
    <div id="form-content">
        <form action="" method="post">
            <label>Nhập địa chỉ email đã đăng ký của bạn<span style="color: red;">*</span></label><br />
            <input asp-for="Account.Email" type="text" /><br />
            <p style="color:yellow; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:25px">@ViewData["message"]</p>
            <p style="color:green">@ViewData["messageSuccess"]</p>
            <p style="color:red">@ViewData["error"]</p>
            <p style="color:red">@ViewData["msg"]</p>
            <p style="color:red">@ViewData["msgEmpty"]</p>
            <input type="submit" value="Lấy mật khẩu" style="margin-bottom: 30px;" />
            <br />
        </form>
    </div>
</div>