@page
@model PetShop_Project_SWP391.Pages.Manager.Blog.ListModel
@{
    bool confirmed = false;
}
@section List{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link href='https://unpkg.com/css.gg@2.0.0/icons/css/details-more.css' rel='stylesheet'>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
<style>
    body {
        color: #566787;
		background: #f5f5f5;
		font-family: 'Varela Round', sans-serif;
		font-size: 13px;
		/*width:max-content;
		text-align:center;*/
	}
	.table-responsive {
        margin: 30px 0;
    }
	.table-wrapper {
		min-width: 1000px;
        background: #fff;
        padding: 20px 25px;
		border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
	.table-title {        
		padding-bottom: 15px;
		background: #435d7d;
		color: #fff;
		padding: 16px 30px;
		margin: -20px -25px 10px;
		border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
		margin: 5px 0 0;
		font-size: 24px;
	}
	.table-title .btn-group {
		float: right;
	}
	.table-title .btn {
		color: #fff;
		float: right;
		font-size: 13px;
		border: none;
		min-width: 50px;
		border-radius: 2px;
		border: none;
		outline: none !important;
		margin-left: 10px;
	}
	.table-title .btn i {
		float: left;
		font-size: 21px;
		margin-right: 5px;
	}
	.table-title .btn span {
		float: left;
		margin-top: 2px;
	}
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
		padding: 12px 15px;
		vertical-align: middle;
    }
	
    table.table-striped tbody tr:nth-of-type(odd) {
    	background-color: #fcfcfc;
	}
	table.table-striped.table-hover tbody tr:hover {
		background: #f5f5f5;
	}
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }	
    table.table td:last-child i {
		opacity: 0.9;
		font-size: 22px;
        margin: 0 5px;
    }
	table.table td a {
		font-weight: bold;
		color: #566787;
		display: inline-block;
		text-decoration: none;
		outline: none !important;
	}
	table.table td a:hover {
		color: #2196F3;
	}
	table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #F44336;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table .avatar {
		border-radius: 50%;
		vertical-align: middle;
		margin-right: 10px;
	}
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 16px;
        min-width: 50px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
		/*background: linear-gradient(to right,#f12711, #f5af19);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;*/
    }
    .pagination li a:hover {
        color: #666;
    }	
    .pagination li.active a, .pagination li.active a.page-link {
        background: #03A9F4;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
	.pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }    
	
	
   .search-box {
        position: relative;        
        float: right;
		margin-left:30px;
		margin-right:30px;
    }
    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }
	.search-box input:focus {
		border-color: #3FBAE4;
	}
    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }
 
</style>

<body>
   
	<div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Danh sách <b>Blog</b></h2>
                        </div>
                        <div class="col-xs-6">
                            <a href="~/Manager/Blog/AddBlog" class="btn btn-success">
                                <i class="material-icons">&#xE147;</i>
                                <span>Tạo Blog Mới</span>
                            </a>
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <form method="get">
                                    <input asp-for="@ViewData["txtSearch"]" type="text" name="txtSearch" placeholder="Search" class="form-control" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tiêu Đề</th>
                            <th>Mô Tả</th>
                            <th>Ảnh</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blog in Model.BlogDetails)
                        {
                            <tr>
                                <td>@blog.PageTitle</td>
                                <td>@blog.ShortDescription</td>
                                <td>
                                    <img src="@blog.FeaturedImageUrl" width="200px" height="80px">
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@blog.BlogId" class="edit">
                                        <i class="material-icons" title="Edit">&#xE254;</i>
                                    </a>
                                   
                                     @*<form method="post" onsubmit="return confirm('Bạn có muốn xóa Blog không?');">
                                        <input type="hidden" name="id" value="@blog.BlogId" />
                                        <button type="submit" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></button>
                                    </form> *@
                                    <form id="deleteForm" method="post" onsubmit="return confirm('Bạn có muốn xóa Blog không?');">
                                        <input type="hidden" name="id" value="@blog.BlogId" />
                                        <button type="submit" class="delete">
                                            <i class="material-icons" title="Delete">&#xE872;</i>
                                        </button>
                                    </form>

                                    <a asp-page="./Detail" asp-route-id="@blog.BlogId" class="detail" >
                                        <i class="material-icons" title="Edit">&#xE5D2;</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="clearfix">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="text" href="~/Manager/Blog/List?PageNum=1&txtSearch=@ViewData["txtSearch"]">First</a>
                            @if (ViewData["CurPage"] != null && (int)ViewData["CurPage"] > 1)
                            {
                                <a class="text" href="~/Manager/Blog/List?PageNum=@((int)ViewData["CurPage"] - 1)&txtSearch=@ViewData["txtSearch"]">&laquo;</a>
                            }
                        </li>

                        <li class="page-item active">
                            @if (ViewData["CurPage"] != null)
                            {
                                for (var i = 1; i <= (int)ViewData["TotalPage"]; i++)
                                {
                                    if ((i - (int)ViewData["CurPage"]) <= 1 && (i - (int)ViewData["CurPage"]) >= -1)
                                    {
                                        <a href="~/Manager/Blog/List?PageNum=@i&txtSearch=@ViewData["txtSearch"]" class="@((int)ViewData["CurPage"] == i ? "active" : "")">@i</a>
                                    }
                                }
                            }
                        </li>
                       <li class="page-item">
                            @if (ViewData["CurPage"] != null && (int)ViewData["CurPage"] < (int)ViewData["TotalPage"])
                            {
                                <a class="text" href="~/Manager/Blog/List?PageNum=@((int)ViewData["CurPage"] + 1)&txtSearch=@ViewData["txtSearch"]">&raquo;</a>
                            }
                            <a class="text" href="~/Manager/Blog/List?PageNum=@ViewData["TotalPage"]&txtSearch=@ViewData["txtSearch"]">Last</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

   <script>

var confirmed = @Json.Serialize(confirmed);

@*$("form").submit(function (event) {
    if (!confirmed) {
        var confirmResult = confirm("Bạn có muốn xóa Blog không?");
        if (!confirmResult) {
            event.preventDefault(); // Ngăn chặn việc submit form
        } else {
            confirmed = true; // Đánh dấu xác nhận đã được thực hiện
        }
    }
});*@
$(document).ready(function () {
    $("#deleteForm").submit(function (event) {
        // Show a confirmation dialog to ask the user if they really want to delete
        var confirmResult = confirm("Bạn có muốn xóa Blog không?");
        
        // If the user cancels the deletion, prevent the form submission
        if (!confirmResult) {
            event.preventDefault(); // Prevent the form from submitting
        }
    });
});



</script>


</body>

}
